@page
@model OdeToFood.Pages.Restaurants.NotFoundModel
@{
    ViewData["Title"] = "NotFound";
}
<h2>You restaurant is not found</h2>

<a asp-page="./List" class="btn btn-primary">See all restaurants</a>
